$main-color-transparent: rgba(112, 233, 182, 0.4);
$main-color: rgba(112, 233, 182);
$red-color: rgb(223, 123, 104);
$red-color-secondary: rgb(232, 65, 28);
$secondary-color: rgb(0, 172, 87);

$dark-color: #333;
$light-color: #f4f4f4;

%btn-shared {
  display: inline-block;
  padding: .8rem 2rem;
  transition: background-color .5s;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn {
  &_main {
    @extend %btn-shared;
    background-color: $main-color;
    color: set-contrast-color($main-color);
    &:hover {
      background-color: $secondary-color;
      color: set-contrast-color($secondary-color);
    }
  }
  &_main_red {
    @extend %btn-shared;
    background-color: $red-color;
    color: set-contrast-color($red-color);
    &:hover {
      background-color: $red-color-secondary;
      color: set-contrast-color($red-color-secondary);
    }
  }
}

.input {
  padding: 0.3rem;
  border-radius: 5px;
  border: 2px solid #333;
}

@function set-contrast-color($color){
  @if(lightness($color) >= 50){
    @return $dark-color;
  }
  @return $light-color;
}
